@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-shadow: 0 8px 32px 0 rgba(24, 24, 24, 0.103);
  scrollbar-width: 0;
}
@font-face {
  font-family: 'MonoLisa';
  src: url('../src/fonts/MonolisaFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.custom-scrollbar {
  height: 560px;
  scrollbar-width: thin;
  scrollbar-color: rgba(78, 78, 78, 0.589) rgba(0, 0, 0, 0.1);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}


.glass-card {
  @apply dark:bg-zinc-900/50 bg-white/70 backdrop-blur-none rounded-2xl 
         dark:border-zinc-700/20 border-zinc-200/50 
         dark:text-zinc-100 text-zinc-800
         border hover:shadow-lg hover:bg-white/100;
  box-shadow: var(--card-shadow);
}
.blog-content pre, 
.blog-content code {
    background: none !important; 
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    font-family: monolisa, monospace;

}
.prose :is(h1, h2, h3, h4, h5, h6, th) {
    font-family: inherit !important; 
    color: inherit !important;
    line-height: 1.5 !important;
}
.prose :is(h3) {
    font-family:monospace !important;
    font-weight: lighter !important;
}
.prose :is(h2) {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  font-weight: lighter !important;
}
.prose :is(p,li) {
    font-family: inherit !important; 
    font-weight: 400 !important;
    color: inherit !important; 
    font-weight: lighter !important;
    line-height: 1.5 !important;
}
.prose :is(strong,b) {
  font-family: inherit !important; 
  font-weight: 400 !important;

}
.prose :is(ol) {
  font-variant-numeric: tabular-nums;
}
pre, code {
    background: #1e1e1e; 
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgba(81, 200, 255, 0.76);
}

.glass-card:hover {
  backdrop-filter: none;
}
.font-cursive {
  font-family: 'Dancing Script', cursive;
}

.font-display {
  font-family: 'Playfair Display', serif;
}

.back-button {
  @apply fixed top-24 left-56 w-14 h-14 rounded-full 
         dark:bg-zinc-800/50 bg-zinc-200
         dark:hover:bg-zinc-700/50 hover:bg-zinc-300
         transition-all duration-300
         flex items-center justify-center 
         dark:text-zinc-400 text-zinc-600
         dark:hover:text-white hover:text-zinc-800
         dark:border-zinc-700/20 border-zinc-200/50
         z-50; 
}



.light {
  @apply bg-zinc-100;
}


.dark {
  @apply bg-zinc-950;
}


.prose {
  @apply prose-zinc prose-headings:font-display 
         prose-p:text-zinc-600 dark:prose-p:text-zinc-400 
         prose-a:text-blue-500 hover:prose-a:text-blue-400 
         prose-strong:text-zinc-900 dark:prose-strong:text-zinc-100 
         prose-code:text-zinc-800 dark:prose-code:text-zinc-200 
         prose-pre:bg-zinc-100 dark:prose-pre:bg-zinc-800;
}

.dark .prose {
  @apply prose-invert;
}
